/* start global rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
/* small */
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (max-width: 1200px) {
  .container {
    width: 1170px;
  }
}
